<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/test.css" />
  </head>
  <body>
    <!-- BEGIN: header -->
    <header>
      <nav>
        <div class="logo">
          <img src="../images/logo.png" alt="" />
        </div>
        <ul class="menu">
          <li class="menu-item">
            <a href="#">TRANG CHỦ</a>
          </li>
          <li class="menu-item">
            <a href="#">GIỚI THIỆU</a>
          </li>
          <li class="menu-item">
            <a href="#">SẢN PHẨM</a>
          </li>
          <li class="menu-item">
            <a href="#">TIN TỨC</a>
          </li>
          <li class="menu-item">
            <a href="#">ĐỐI TÁC</a>
          </li>
          <li class="menu-item">
            <a href="#">LIÊN HỆ</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- END: head -->
    <main></main>

    <footer></footer>
  </body>
</html>
