<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/css.css" />
  </head>
  <body>
    <section class="Livingroom">
      <div class="container">
        <div class="highlight">
          <h1 class="title">PHÒNG KHÁCH</h1>
          <ul class="highlight-list">
            <li class="highlight-item">
              <a href="">
                <img
                  src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                  alt=""
                />
                <h3>BÀN UỐNG NƯỚC</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <p style="color: #a9a9a9">(Size vừa, nâu đậm)</p>
                <p>8.399.000 VNĐ</p>
              </a>
            </li>
            <li class="highlight-item">
              <a href="">
                <img
                  src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc-2.png"
                  alt=""
                />
                <h3>BÀN UỐNG NƯỚC 2</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <p style="color: #a9a9a9">(Size vừa,nâu vân gỗ)</p>
                <p>10.999.000 VNĐ</p>
              </a>
            </li>
            <li class="highlight-item">
              <a href="">
                <img
                  src="../images/san-pham-noi-bat/phong-khach-ke-ti-vi.png"
                  alt=""
                />
                <h3>KỆ TV</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <p style="color: #a9a9a9">(4 ngăn,gỗ lim)</p>
                <p>12.799.000 VNĐ</p>
              </a>
            </li>
            <li class="highlight-item">
              <a href="">
                <img src="../images/san-pham-noi-bat/sp-4.jpg" alt="" />
                <h3>KỆ ĐỂ ĐỒ</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <p style="color: #a9a9a9">(4 ngăn, trắng gỗ)</p>
                <p>9.799.000 VNĐ</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
      <section id="Bedroom">
      <div class="highlight-2">
        <h1 class="title">PHÒNG NGỦ</h1>
        <ul class="highlight-2-list">
          <li class="highlight-2-item">
            <a href="">
              <img
                src="../images/san-pham-noi-bat/sp-1.jpg"
                alt=""
              />
              <h3>GIƯỜNG CHÂU ÂU</h3>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <p style="color: #a9a9a9">(Size vừa, nâu đậm)</p>
              <p>8.399.000 VNĐ</p>
            </a>
          </li>
          <li class="highlight-2-item">
            <a href="">
              <img
                src="../images/san-pham-noi-bat/giuong-ngu.png"
                alt=""
              />
              <h3>GIƯỜNG GỖ</h3>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <p style="color: #a9a9a9">(Size vừa,nâu vân gỗ)</p>
              <p>10.999.000 VNĐ</p>
            </a>
          </li>
          <li class="highlight-2-item">
            <a href="">
              <img
                src="../images/san-pham-noi-bat/ke-dau-giuong.png"
                alt=""
              />
              <h3>KỆ ĐẦU GIƯỜNG</h3>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <p style="color: #a9a9a9">(4 ngăn,gỗ lim)</p>
              <p>12.799.000 VNĐ</p>
            </a>
          </li>
          <li class="highlight-2-item">
            <a href="">
              <img src="../images/san-pham-noi-bat/sp-3.jpg" alt="" />
              <h3>TỦ QUẦN ÁO</h3>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <p style="color: #a9a9a9">(4 ngăn, trắng gỗ)</p>
              <p>9.799.000 VNĐ</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    </section>
  </body>
</html>
