* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: #222;
  font-family: "font-medium";
}

a {
  text-decoration: none;
}

body {
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
  position: relative;
}

/* header */
/* header {
    border-bottom: 1px solid #000;
  } */

header nav {
  display: flex;
  align-items: center;
  width: calc(12 * 100% / 18);
  margin: auto;
  justify-content: space-between;
  padding: 1rem;
}

header nav .menu {
  display: flex;
  width: calc(7 * 100% / 12);
  justify-content: space-between;
}
header nav .menu .menu-item {
  position: relative;
  line-height: 2rem;
}

header nav .menu .menu-item:first-child:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bd945f;
  height: 0.3rem;
  width: 60%;
}

/* 2. prodct */
main .banner .container {
  position: relative;
}

main .banner .introduction {
  position: absolute;
  top: 8rem;
  left: 20rem;
  right: 0;
  width: calc(12 * 100 / 18);
}
/* main .banner .introduction p {
  margin-top: 25px;
  width: 410px;
} */
main .banner .introduction h1 {
  font-size: 30px;
}
main .banner .introduction button {
  margin-top: 25px;
  text-transform: capitalize;
  color: #fff;
  border-color: #bd945f;
  background-color: #bd945f;
  padding: 10px;
}

/* 3.about-us */

#catalog {
  position: relative;
  background-color: #f3f3f3;
  min-height: 800px;
}
#catalog .catalog-box {
  background-color: #f3f3f3;
}
#catalog .catalog-box .container {
  width: calc(12 * 100% / 18);
  margin: auto;
  position: relative;
}
#catalog .category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  top: -4rem;
  position: absolute;
}
#catalog .category .item {
  width: 25%;
  text-align: center;
}

.hot-product {
  position: relative;
  background-color: #f3f3f3;
  top: 350px;
}

.hot-product p {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.hot-product .hot-product-box {
  position: relative;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.hot-product .hot-product-box .item {
  text-align: center;
  width: 25%;
  padding: 1rem;
}
.hot-product .hot-product-box .item img {
  width: 100%;
}

.star .checked {
  color: orange;
}

/* .item p {
  color: rgb(145, 145, 138);  
  font-size: small;
} */

/* about-us */
#about-us {
}

#about-us .container .about-box .box {
  position: absolute;
  align-content: center;
}
/* footer */
footer {
  background-color: rgb(37, 37, 37);
  padding: 2rem 0;
}

footer .container {
  display: flex;
  width: calc(12 * 100% / 18);
  margin: auto;
  justify-content: space-between;
  padding: 1rem;
  line-height: 1.7rem;
}

footer li,
footer a,
footer .title,
footer i {
  color: #fff;
}

footer li,
footer a {
  font-family: "font thin";
}

/* pseudo element */
footer .title {
  margin-bottom: 1rem;
  position: relative;
}

footer .title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  height: 0.2rem;
  width: 5rem;
}

footer .contact ul li:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

footer .contact ul li div {
  width: 3rem;
  margin-right: 1rem;
}
footer .contact ul li div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
